.card {
  height: 200px;
  width: 500px;
  margin: 50px 30px 30px 30px;
  padding: 10px 10px 10px 10px;
  box-shadow: 0px 10px 10px black;
  border-radius: 15px;
  color:black;
  background-color: lightgray;
  text-decoration: none !important;
}

.total {
  display: flex;
  flex-direction: row;
}

.mitad1 {
  width: 70%;
}
.mitad2 {
  display: flex;
  align-content: center;
}

.close {
  display: flex;
  justify-content: end;
}

.city {
  color: gray;
  display: block;
  text-decoration: none;
}
 .medio {
   display: block;
   flex-direction: row;
 }

.datos {
  display: block;
  flex-direction: row;
  padding-top: 3%;

}

.ahora {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
}

